body{
    background-color: black;
    text-align: center;
    font-size: 16px;
}

/*HEADER*/

header h1{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

#coming_soon{
    color: aquamarine;
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
}
